<div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto posts_button">
        <a class="btn btn-outline-info" href="/" role="button">投稿一覧</a>
        <%= link_to '編集', edit_guitar_path(@guitar),class:"btn btn-outline-info" %>
    </div>
</div>

<div class="card">
  <div class="card-header bg-info text-white">
      <h4><%= @guitar.name %></h4>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @guitar.category %></p>
  </div>
  <div class="card-body">
      <p class="card-text"><%= @guitar.content %></p>
  </div>
</div>