<div class="d-flex align-items-center">
  <h1>ユーザ一覧</h1>
</div>

<% if users.any? %>
  <ul>
     <% users.each do |user| %>
      <li>
      <% if user.image? %>
       <%= image_tag user.image.thumb.url, :alt => 'ユーザー画像',:size => '50x50' %>
      <% else %>
       <%= image_tag "/assets/default.u", :alt => 'デフォルト画像',:size => '50x50' %>
      <% end %>
       <%= link_to user.name, user_path(user) %>
      <% end %>
    </li>
  </ul>
 <%= paginate users %>
<% end %>