<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
      <% if user.image? %>
       <%= image_tag user.image.thumb50.url %>
      <% else %>
       <%= image_tag "/assets/default.u", :size => '100x100' %>
      <% end %>
       <div class="media-body">
        <div>
        <%= link_to user.name, user_path(user) %>
        </div>
       </div>
     </li>
    <% end %>
  </ul>
 <%= paginate users %>
<% end %>